@{
    
}

<h2 class="display-4">Hola, soy Sebastián</h2>
<img src="~/img/me.png" alt="~/img/me.heic" id="myImage" class="mb-3" />
<p>
    Soy un estudiante que está por graduarse en ingeniería de Sistemas de Computación. Mis conocimientos se
    basan en lenguajes orientados a la Web, tales como: C#, JavaScript, HTML5, CSS3,
</p>

<div class="row justify-content-center text-center bg-primary py-5 welcome-text">
    <div class="col col-sm-7">
        <h2>Bienvenido(a) a mi portafolio</h2>
        <p>
            Actualmente estoy trabajando en soporte técnico en herramientas basadas en control del versionamiento
            en Git. Muchas de ellas, me han pulido en sobre cómo y qué revisar de logs/registros para poder darme
            una idea de la causa que no dejó funcionar la herramienta, revisar y utilizar mucho la documentación,
            identificar los problemas más rápidamente, etc. Sin embargo, mi principal objetivo es poder
            desenvolverme en la generación y revisión de código, el cual es el área que más me llama más la atención
            siendo la web la principal área. Me gusta saber cómo funciona la web, ya que día a día es una
            herramienta crucial para cualquier cosa que se necesite realizar de una tarea, buscar información,
            enviar información, es lo principal de las redes sociales, se usa en publicidad de un negocio, entre otros.
        </p>
    </div>
</div>
