@model IEnumerable<PortafolioDTO>

@* 

Notas: '@if (Model.portafolioDTO != null)' es limtante para las vistas parciales a la hora de querer reutizarla
en diferentes contextos de la aplicación. 

Para solucionar esta limitante, se utiliza la interfaz 'IEnumerable' del
objeto que se desea reutilizar y la condición cambiaría a: @if (Model != null)

*@ 

@if (Model != null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h2>Mis trabajos más recientes</h2>
        <p>A continuación, te mostraré algunos de los proyectos en los que he estado trabajando últimamente:</p>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- g-* = Gutters, espaciado en 'x' y 'y' entre columnas -->
            @foreach (var proyecto in Model)
            {
                <div class="col-md-4">

                    <div class="card">
                        <!-- h-100 = Tarjetas del mismo tamaño -->
                        <img src="@proyecto.imagenURL" class="card-img-top" alt="" />
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@proyecto.titulo</h6>
                        <h6 class="card-text">@proyecto.descripcion</h6>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="@proyecto.link" target="_blank"
                           rel="noopener noreferrer">Visitar</a>
                    </div>

                </div>
            }
        </div>
    </div>
}
