@{

}

<div class="row justify-content-md-center text-center" style="margin-top: -205px;">
    <div class="col col-sm-3 bg-white pt-3" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px gray;">
        <i class="bi bi-database custom-bi"></i>
        <h3>Backend</h3> <hr />
        <p>
            He programado cosas muy sencillas para proyectos de la universidad. Ejemplos: APIs sencillas,
            SP, consultas dirigidos a proyecto como tiendas virtuales, consultorio virtual, etc.
        </p>

        <p class="text-primary head-text head">Stack:</p>
        <p>ASP.NET Core Web APIs, SQL Server, Oracle</p>

        <p class="text-primary head-text head">Experiencia:</p>
        <p>
            <ul>
                <li>Web APIs</li>
                <li>Dapper</li>
                <li>Entity Framework Core</li>
            </ul>
        </p>
    </div>

    <div class="col col-sm-3 bg-white pt-3" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px gray;">
        <i class="bi bi-code-slash custom-bi"></i>
        <h3>Frontend</h3><hr />
        <p>
            *Es lo que más me llama la atención* No cuento con mucha experiencia en el campo, pero actualmente
            estoy aprendiendo las bases para poder programar en un proyecto con ReactJS.
        </p>

        <p class="text-primary head-text head">Stack:</p>
        <p></p>

        <p class="text-primary head-text head">Experiencia:</p>
        <p>
            <ul>
                <li>Markdown</li>
            </ul>
        </p>
    </div>
</div>
