@model HomeIndexViewModel

@{
    ViewData["Title"] = "Portafolio";
}

<div class="text-center">

    @*<h2>Ejemplo Servicios</h2>
    <div>
        Guid Singleton: <b style="color: gray">@Model.exampleViewModel.xSingleton</b>
    </div>
    <div>
        Guid Scoped: <b style="color: blueviolet">@Model.exampleViewModel.xScoped</b>
    </div>
    <div>
        Guid Transient: <b style="color: burlywood">@Model.exampleViewModel.xTransient</b>
    </div>*@

    <partial name="_Introduction" />

    <partial name="_Skills" />
    
    <partial name="_SectionProjects" model="Model.portafolioDTO" />

</div>
