@{
    ViewData["Title"] = "Portafolio";
}

<div class="text-center">
    <h2 class="display-4">Hola, soy Sebastián</h2>
    <img src="~/lib/images/me.png" alt="~/lib/images/me.heic" id="myImage" />
    <p>Soy un estudiante que está por graduarse en ingeniería de Sistemas de Computación. Mis conocimientos se
        basan en lenguajes orientados a la Web, tales como: C#, JavaScript, HTML5, CSS3, 
    </p>
</div>
