@model IEnumerable<PortafolioDTO>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h2>Proyectos</h2>
    <p>Estos son mis proyectos actualmente:</p>

</div>

<partial name="_ProjectsList" model="Model" />
