html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#myImage{
    border-radius: 60%;
    border: 5px solid;
}


.welcome-text{
    margin: 5rem 0 10rem 0;
    color: white;
}


.welcome-text h2 {
    margin-bottom: 1rem;
}


.welcome-text p {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
}

.head {
    font-weight: bold;
}


.custom-bi {
    color: darkblue;
    font-size: 50px; /* Incrementa el tamaño del ícono */
}